<div id="filter-container">
	<!-- FILTER STATE -->
	<div class="filter-state row">
		<!--  FILTER BOX -->
		<div class="filter-box col-sm-9">
			<!-- SEARCH ICON -->
			<span class="searchIcon glyphicon glyphicon-search icon-flipped"></span>
			<!-- CURRENT FILTERS -->
			<div class="current-filters">
				<div class="filter" data-key="locations" data-value="Southern California">
					Southern California
					<span class="filter-remove glyphicon glyphicon-remove"></span>
				</div>
				<div class="filter" data-key="keywords" data-value="Mobile Developer">
					Mobile Developer
					<span class="filter-remove glyphicon glyphicon-remove"></span>
				</div>
				<div class="filter" data-key="keywords" data-value="Software Developer">
					Software Engineer
					<span class="filter-remove glyphicon glyphicon-remove"></span>
				</div>
			</div>
			<!-- CURRENT FILTERS -->
		</div>
		<!--  FILTER BOX -->
		<!--  SAVEBOX -->
		<div class="saveBox col-sm-3">
			<div class="btn-group">
				<button type="button" class="save btn btn-default dropdown-toggle" data-toggle="dropdown">Save</button>
				<ul class="dropdown-menu" role="menu" style="left: -240px;">
					<li class="dropdown-header">Filter Name</li>
					<li class="dropdown">
						<input type="text" placeholder="Cheap Car Washes @ LA" class="location-input ui-autocomplete-input form-control" autocomplete="off" />
					</li>
					<li>
						<button type="button" class="btn btn-default save-current-filters">Save Filter</button>
					</li>
				</ul>
			</div>
		</div>
		<!--  SAVEBOX -->
	</div>
	<div class="row filter-menus">
		<ul class="filter-dimensions">
			<!-- DIMENSION -->
			<li class="dimension dropdown" data-menu="locationss">
				<!-- DIMENSION LABEL -->
				<a href="#" class="dimension-label" data-toggle="dropdown"> Locations <b class="caret"></b></a>
				<!-- DROPDOWN MENU -->
				<ul data-menu="locations" class="dropdown-menu">
					<li class="dropdown-header">Top locations</li>
					<li>
						<input type="text" placeholder="Enter A Location" class="location-input ui-autocomplete-input form-control" autocomplete="off" />
					</li>
					<li class="dropdown-header">Top locations</li>
					<li data-value="Los Angeles" data-key="locations" class="filter-item"><a href="#">Los Angeles</a></li>
					<li data-value="San Francisco" data-key="locations" class="filter-item"><a href="#">San Francisco</a></li>
					<li data-value="Southern California" data-key="locations" class="filter-item"><a href="#">Southern California</a></li>
					<li data-value="Silicon Valley" data-key="locations" class="filter-item"><a href="#">Silicon Valley</a></li>
					<li data-value="United States" data-key="locations" class="filter-item"><a href="#">United States</a></li>
				</ul>
			</li>

			<li class="dimension dropdown" data-menu="prices">
				<a href="#" class="dimension-label" data-toggle="dropdown"> Price <b class="caret"></b></a>
				<!-- DROPDOWN MENU -->
				<ul data-menu="price" class="dropdown-menu">
					<li data-value="$" data-key="prices" class="filter-item"><a href="#">$</a></li>
					<li data-value="$$" data-key="prices" class="filter-item"><a href="#">$$</a></li>
					<li data-value="$$$" data-key="prices" class="filter-item"><a href="#">$$$</a></li>
					<li data-value="$$$$" data-key="prices" class="filter-item"><a href="#">$$$$</a></li>
				</ul>
			</li>
			<li class="dimension dropdown" data-menu="ranks">
				<a href="#" class="dimension-label" data-toggle="dropdown"> Rank <b class="caret"></b></a>
				<!-- DROPDOWN MENU -->
				<ul data-menu="price" class="dropdown-menu">
					<li data-value="black" data-key="belts" class="filter-item"><a href="#">Black</a></li>
					<li data-value="red" data-key="belts" class="filter-item"><a href="#">Red</a></li>
					<li data-value="blue" data-key="belts" class="filter-item"><a href="#">Blue</a></li>
					<li data-value="green" data-key="belts" class="filter-item"><a href="#">Green</a></li>				
					<li data-value="white" data-key="belts" class="filter-item"><a href="#">White</a></li>
				</ul>
			</li>
			<li class="dimension dropdown" data-menu="keywords">
				<a href="#" class="dimension-label" data-toggle="dropdown"> Keywords <b class="caret"></b></a>
				<!-- DROPDOWN MENU -->
				<ul data-menu="keywords" class="dropdown-menu">
					<li>
						<input type="text" placeholder="Enter Keywords" class="keyword-input ui-autocomplete-input form-control" autocomplete="off" />
					</li>
					<li class="dropdown-header">Top Keywords</li>
					<li data-value="Dog Walking" data-key="keywords" class="filter-item"><a href="#">Dog Walking</a></li>
					<li data-value="Grocery Shopping" data-key="keywords" class="filter-item"><a href="#">Grocery Shopping</a></li>
					<li data-value="Hair Cutting" data-key="keywords" class="filter-item"><a href="#">Hair Cutting</a></li>
					<li data-value="Tutoring" data-key="keywords" class="filter-item"><a href="#">Tutoring</a></li>				
					<li data-value="Guitar Lessons" data-key="keywords" class="filter-item"><a href="#">Guitar Lessons</a></li>
				</ul>
			</li>
			<li class="dropdown my-filters" date-menu="filters">
				<a href="#" class="dimension-label" data-toggle="dropdown">My Filter <b class="caret"></b></a>
				<!-- DROPDOWN MENU -->
				<ul data-menu="filters" class="my-filters-dropdown dropdown-menu" style="left: -200px; top: 23px;">
					<li class="dropdown-header my-filter-row">
						<div>
							<span class="my-filter-name">Name </span>
							<span class="my-filter-alert"> Alerts</span>
							<span> Remove</span>
						</div>
					</li>
					<% current_user.filters.each do |f| %>
						<li class="my-filter-row body" data-filter_id="<%= f.id %>" data-filter_data="<%= f.data.to_json %>" >
							<div>
								<span href="#" class="my-filter-name" class="saved-filter-row"><%= f.title %></span>
								<span class="my-filter-alert"><input type="checkbox" value="1" name="alert" id="alert" class="alert_checkbox" checked="checked"></span>
								<span class="my-filter-remove glyphicon glyphicon-remove"></span>
							</div>
						</li>
					<% end %>

					</li>
					
				</ul>
			</li>
		</ul>
	</div>
</div>