<div id="filter-container">
	<!-- FILTER STATE -->
	<div class="filter-state">
		<!--  FILTER BOX -->
		<div class="filter-box col-sm-9">
			<!-- SEARCH ICON -->
			<span class="searchIcon glyphicon glyphicon-search icon-flipped"></span>
			<!-- CURRENT FILTERS -->
			<div class="current-filter-tags">
				<!-- <div class="filter-tag" data-key="locations" data-value="Southern California">
					Southern California
					<span class="filter-remove glyphicon glyphicon-remove"></span>
				</div> -->
			</div>
			<!-- CURRENT FILTERS -->
			<!-- KEYWORD BOX -->
			<div class="keyword-box" style="display: none;">
				<input type="text" placeholder="Enter a keyword" class="input keyword-input" name="keywords">
				<div class="fontello-cancel-circle close"></div>
			</div>
			<!-- KEYWORD BOX -->
		</div>
		<!--  FILTER BOX -->
		<!--  SAVEBOX -->
		<div class="saveBox col-sm-3">
			<div class="btn-group">
				<button type="button" class="save btn btn-default dropdown-toggle" data-toggle="dropdown">Save</button>
				<ul class="dropdown-menu" role="menu" style="left: -240px;">
					<li class="dropdown-header">Filter Name</li>
					<li class="dropdown">
						<input type="text" placeholder="Cheap Car Washes @ LA" class="location-input ui-autocomplete-input form-control" autocomplete="off" name="filter_title" />
					</li>
					<li>
						<button type="button" class="btn btn-default save-current-filters">Save Filter</button>
					</li>
				</ul>
			</div>
		</div>
		<!--  SAVEBOX -->
	</div>
	<div class="filter-menus">
		<ul class="filter-dimensions">
			<!-- DIMENSION -->
			<li class="dimension dropdown" data-menu="locations">
				<!-- DIMENSION LABEL -->
				<a href="#" class="dimension-label" data-toggle="dropdown"> Locations <b class="caret"></b></a>
				<!-- DROPDOWN MENU -->
				<ul data-menu="locations" class="dropdown-menu">
					<li class="dropdown-header">Top locations</li>
					<li>
						<input type="text" placeholder="Enter A Location" class="ui-autocomplete-input form-control" autocomplete="off" name="locations" />
					</li>
					<li class="dropdown-header">Top locations</li>
					<li data-value="Los Angeles" data-key="locations" class="filter-item"><a href="#">Los Angeles</a></li>
					<li data-value="San Francisco" data-key="locations" class="filter-item"><a href="#">San Francisco</a></li>
					<li data-value="Southern California" data-key="locations" class="filter-item"><a href="#">Southern California</a></li>
					<li data-value="Silicon Valley" data-key="locations" class="filter-item"><a href="#">Silicon Valley</a></li>
					<li data-value="United States" data-key="locations" class="filter-item"><a href="#">United States</a></li>
				</ul>
			</li>

			<li class="dimension dropdown" data-menu="prices">
				<a href="#" class="dimension-label" data-toggle="dropdown"> Price <b class="caret"></b></a>
				<!-- DROPDOWN MENU -->
				<ul data-menu="price" class="dropdown-menu">
					<li data-value="$" data-key="prices" class="filter-item"><a href="#">$</a></li>
					<li data-value="$$" data-key="prices" class="filter-item"><a href="#">$$</a></li>
					<li data-value="$$$" data-key="prices" class="filter-item"><a href="#">$$$</a></li>
					<li data-value="$$$$" data-key="prices" class="filter-item"><a href="#">$$$$</a></li>
				</ul>
			</li>
			<li class="dimension dropdown" data-menu="ranks">
				<a href="#" class="dimension-label" data-toggle="dropdown"> Rank <b class="caret"></b></a>
				<!-- DROPDOWN MENU -->
				<ul data-menu="price" class="dropdown-menu">
					<li data-value="black" data-key="belts" class="filter-item"><a href="#">Black</a></li>
					<li data-value="red" data-key="belts" class="filter-item"><a href="#">Red</a></li>
					<li data-value="blue" data-key="belts" class="filter-item"><a href="#">Blue</a></li>
					<li data-value="green" data-key="belts" class="filter-item"><a href="#">Green</a></li>				
					<li data-value="white" data-key="belts" class="filter-item"><a href="#">White</a></li>
				</ul>
			</li>
			<li class="dimension dropdown" data-menu="keywords">
				<a href="#" class="dimension-label" data-toggle="dropdown"> Keywords <b class="caret"></b></a>
				<!-- DROPDOWN MENU -->
				<ul data-menu="keywords" class="dropdown-menu">
					<li>
						<input type="text" placeholder="Enter Keywords" class="keyword-input ui-autocomplete-input form-control" autocomplete="off" name="keywords" />
					</li>
					<li class="dropdown-header">Top Keywords</li>
					<li data-value="Dog Walking" data-key="keywords" class="filter-item"><a href="#">Dog Walking</a></li>
					<li data-value="Grocery Shopping" data-key="keywords" class="filter-item"><a href="#">Grocery Shopping</a></li>
					<li data-value="Hair Cutting" data-key="keywords" class="filter-item"><a href="#">Hair Cutting</a></li>
					<li data-value="Tutoring" data-key="keywords" class="filter-item"><a href="#">Tutoring</a></li>				
					<li data-value="Guitar Lessons" data-key="keywords" class="filter-item"><a href="#">Guitar Lessons</a></li>
				</ul>
			</li>
			<li class="dropdown my-filters" date-menu="filters">
				<a href="#" class="dimension-label" data-toggle="dropdown">My Filters <b class="caret"></b></a>
				<!-- DROPDOWN MENU -->
			<%= render 'services/filter/my_filter_list' %>
			</li>
		</ul>
	</div>
</div>