<div id="about">
	<div class="title">About</div>
	<div class="aboutBlurb">Lendojo is all about connecting and sharing with those around you. It's about lending a hand to your community, or as we call it, your dojo. Every posess a skill he/she excels. Chelesea has a passion for dogs. John is an excellent photographer.  And the list goes on. On the flip side, there's someone out ther right now, who needs the skill.<br /><br />

	Lendojo is about bringing the community closer together, connecting people. </div>
</div>