<div id="privacyBox" class="box col-sm-10 col-sm-offset-1">
	<div class="title">Community Guidelines</div>
		<div class="subTitle">Terms</div>
		<span>We work very hard to ensure the safety and integrity of the Lendojo community. By using our services you are agreeing to be bound by the the following terms:</span>
		<ol>
			<li>1. You will not spam any user.</li>
			<lI>2. You will not upload viruses or other malicious code.</li>
			<lI>3. You will not steal any user's login information or access an account belonging to someone else.</li>
			<lI>4. You will not bully, intimidate, or harass any user.</li>
			<lI>5. You will not post content that is violent, hateful, threatening, or pornographic.</li>
			<lI>6. You will not use Lendojo to do anything unlawful, misleading, or malicious.</li>
			<lI>7. You will not provide any false personal information, impersonate others, or create an account for anyone other than yourself.</li>
			<lI>8. You will not create more than one personal profile.</li>
			<lI>9. If we disable your account, you will not create another one without our permission.</li>
		</ol>
		
		<span>If you do not agree with any of these terms, you are prohibited from using or accessing Lendojo. The materials contained in Lendojo are protected by applicable copyright and trade mark law.</span> <br /> <br />
		
		<div class="subTitle">Our Rights</div> 
		<span>We reserve the rights to:</span><br />
		<ol>
			<lI>1. Send warnings or ban users who have violated any of the above terms.</li>
			<lI>2. Remove or reclaim your username it if we believe it is appropriate.</li>
			<lI>3. Remove any content that are consider hateful, threatening, pornographic, misleading, or malicious.</li>
			<lI>4. Make changes to our Terms of Service for legal or administrative reasons, or to correct an inaccurate statement.</li>
			<lI>5. Contact users through email regarding any major updates or revisions.</li>
			<lI>6. Used the names of approved lenders at Lendojo in promoting our services.</li>
			<li>7. Modify or make revisions to lender information it if we believe it is appropriate.</li>
		</ol>
					
		<div class="subTitle">Disclaimer</div>
		<span>While we try our best to make Lendojo as safe as possible, understand that you are ultimately responsible for your use of the services we provide, any personal information you choose to share, and any consequences thereof. </span> <br /> <br />
		
		<div id="revisionBlurb">Last Revision: July 15, 2014</div>
	</div>
</div>