<div id="home">

<div id="aboutBlurb">
	<div class="title">About</div>
	<p>
		Lendojo is all about connecting and sharing with those around you. It's about lending a hand to your community, or as we call it, your dojo. Every posess a skill he/she excels. Chelesea has a passion for dogs. John is an excellent photographer.  And the list goes on. On the flip side, there's someone out ther right now, who needs the skill.
	Lendojo is about bringing the community closer together, connecting people.
	</p>
	<%= link_to 'Join Us', new_user_registration_path, class: 'button', style: 'width: 100%; margin-bottom: 15px;' %>
</div>

	</div>
</div>