<div id="privacyBox" class="box col-sm-10 col-sm-offset-1">
	<div class="title">Private Policy</div>
	<div class="text-center">Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, and disclose personal information.</div><br /><br />

	<div class="subTitle">Information we collect</div>
	<span>When you sign up for Lendojo you provide us with your profile picture, full name, email, and location. We also collect other information such as your saved filters, credit card information, and your future and past services. Note that we do not store your credit card information in our database. Credit card transactions are process by a third party platform that specializes in online payments.</span><br /><br />

	<div class="subTitle">Information you share</div>
	<span>Those who view your profile will have access to the following informaiton: profile picture, full name, headline, summary, and past services you've tried.  If you are  a register users, only other register users will have access to your profile. If you are a lender, your profile will be available publicly for everyone, including unregistered users, to see.</span><br /><br />

	<div class="subTitle">Information we use</div>
	<span>We use information you provide (filters, headlines, location, etc.) in order to provide you with the best experience possible in connecting with relevant lenders and services.</span><br /><br />

	<div id="revisionBlurb">Last Revision: July 15, 2014</div>
</div>