<p>Dear <%= @user.first_name %>,
<p>Due to reocurring violations of the Community Guidelines, your account has been suspended for 1 week. Once your account has been reactived, any further violations of our Community Guidelines will be follow by termination. We work really hard to ensure the integrity of the Lendojo community and we only ask for you to follow the rules.</p>