<p>Dear <%= @user.first_name %>,</p>
<p>You have been flagged by one of the members of the Lendojo community for violating the Community Guidelines. You have been warned. Any further violations of our Community Guidelines will be follow by suspension. We work really hard to ensure the integrity of the Lendojo community and we only ask for you to follow the rules.</p>