<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<p>Dear <%= @user.first_name %>,</p>

	<p>Congratualtions!!! You have been approved to become a Lender of the Lendojo Community! Your journey as a Lender begins now.</p>

	<p>
		Best,<br />
		The Lendojo Staff
	</p>
</body>
</html>