/************************************ NEW RATING FORM ************************************/
/* line 7, /Users/bennettlee/Desktop/Projects/Lendojo/Website/lendojo_app/app/assets/stylesheets/ratings.css.scss */
#lender {
  width: 100%;
  text-align: center;
  font-size: 1.3em;
}
/* line 11, /Users/bennettlee/Desktop/Projects/Lendojo/Website/lendojo_app/app/assets/stylesheets/ratings.css.scss */
#lender .imageContainer {
  width: 300px;
}
/* line 14, /Users/bennettlee/Desktop/Projects/Lendojo/Website/lendojo_app/app/assets/stylesheets/ratings.css.scss */
#lender .name {
  font-weight: 300;
  margin: 15px 0;
  text-transform: uppercase;
}

/* line 20, /Users/bennettlee/Desktop/Projects/Lendojo/Website/lendojo_app/app/assets/stylesheets/ratings.css.scss */
#newRating {
  padding-top: 20px;
}
/* line 23, /Users/bennettlee/Desktop/Projects/Lendojo/Website/lendojo_app/app/assets/stylesheets/ratings.css.scss */
#newRating #ratingBox {
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: 1px dashed #e6e6e6;
}
/* line 29, /Users/bennettlee/Desktop/Projects/Lendojo/Website/lendojo_app/app/assets/stylesheets/ratings.css.scss */
#newRating #ratingBox #raty-hint {
  margin-bottom: 5px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.3em;
  height: 20px;
  width: 100%;
}
/* line 38, /Users/bennettlee/Desktop/Projects/Lendojo/Website/lendojo_app/app/assets/stylesheets/ratings.css.scss */
#newRating #reviewBox {
  width: 80%;
  margin: 0 auto;
}
/* line 42, /Users/bennettlee/Desktop/Projects/Lendojo/Website/lendojo_app/app/assets/stylesheets/ratings.css.scss */
#newRating #reviewBox .title {
  font-size: 1.2em;
}
/* line 45, /Users/bennettlee/Desktop/Projects/Lendojo/Website/lendojo_app/app/assets/stylesheets/ratings.css.scss */
#newRating #reviewBox .row {
  margin-bottom: 20px;
}
/* line 48, /Users/bennettlee/Desktop/Projects/Lendojo/Website/lendojo_app/app/assets/stylesheets/ratings.css.scss */
#newRating #reviewBox textarea {
  height: 150px;
}
/* line 52, /Users/bennettlee/Desktop/Projects/Lendojo/Website/lendojo_app/app/assets/stylesheets/ratings.css.scss */
#newRating .button.center {
  margin-top: 10px;
}
