/************************** NEW **************************/
/* line 6, /Users/bennettlee/Desktop/Projects/Lendojo/Website/lendojo_app/app/assets/stylesheets/reports.css.scss */
#reportBox {
  min-height: 0;
}

/* line 10, /Users/bennettlee/Desktop/Projects/Lendojo/Website/lendojo_app/app/assets/stylesheets/reports.css.scss */
.reportBlurb {
  color: #6c6c6c;
  display: block;
  height: 101px;
  margin: 15px auto;
  text-align: center;
  width: 550px;
}

/* line 19, /Users/bennettlee/Desktop/Projects/Lendojo/Website/lendojo_app/app/assets/stylesheets/reports.css.scss */
.form-group {
  margin: 15px 0;
}

/* line 23, /Users/bennettlee/Desktop/Projects/Lendojo/Website/lendojo_app/app/assets/stylesheets/reports.css.scss */
textarea#report_summary {
  height: 120px;
}

/************************** EDIT **************************/
/* line 28, /Users/bennettlee/Desktop/Projects/Lendojo/Website/lendojo_app/app/assets/stylesheets/reports.css.scss */
#reportEditBox {
  padding: 15px 50px;
}
/* line 30, /Users/bennettlee/Desktop/Projects/Lendojo/Website/lendojo_app/app/assets/stylesheets/reports.css.scss */
#reportEditBox .control-label {
  padding-right: 8px;
}

/* line 36, /Users/bennettlee/Desktop/Projects/Lendojo/Website/lendojo_app/app/assets/stylesheets/reports.css.scss */
form#editReport .detail {
  padding: 7px 0 25px;
  border-bottom: 1px solid #e6e6e6;
  margin-left: 15px;
}
