<div class="box col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-1">	
	
	<div class="col-sm-3" style="margin-top: 120px;">
		<% 
			total 		= LenderApplication.all.count
			pending 	= LenderApplication.where(status: 'pending').count
			approved	= LenderApplication.where(status: 'approved').count 
			denied		= LenderApplication.where(status: 'denied').count 
			data 		= { Total: total, Pending: pending, Approved: approved, Denied: denied }
		%>
		<%= dashboard_widget 'Dashboard', data %>
	</div>

	<div class="col-sm-9">
		<div class="title">Lender Apps</div>
		<div class="indexList-header row">
			<div class="col-xs-2">Status</div>
			<div class="col-xs-2">Avatar</div>
			<div class="col-xs-2">Author</div>
			<div class="col-xs-2">Hrs/Week</div>
			<div class="col-xs-2">Categories</div>
		</div>
		<%= render @lenderApps %>
	</div>

</div>