<div id="pinsBox" class="box">
	<div class="title">My Pins</div>
	<ul id="serviceList">
		<% @services.each do |s| %>
			<%= render '/services/service_widget', service: s %>
		<% end %>
	</ul>
	<%= will_paginate @services %>
</div>