<div id="avatarSection" class="col-xs-12">
	<div class="col-xs-12">
		<div class="detailTitle">
			<span class="glyphicon glyphicon-picture"></span>
			<span>Avatar</span>
		</div>
		<div class="col-xs-5">
			<%= image_tag @user.main_img.url, id: "userImg", class: 'mainImage' %>
			<div class="title">Main Image (330 x 180)</div>
		</div>
		<div class="col-xs-2">
			<%= image_tag @user.main_img.url(:thumb), class: 'thumbImage' %>
			<div class="title">Thumbnail <br />(100 x 100)</div>
		</div>
		<div class="col-xs-2">
			<%= f.label 'Upload Image' %>
			<%= f.file_field :main_img %>
		</div>
	</div>
</div>