<!-- LENDEE CHECKLIST -->
<div class="checkList">
	<div class="title">Lendee</div>

	<div class="alert alert-success"></div>

	<!-- LENDEE CHECKLIST -->
	<table class="table table-striped">
		<thead>
			<th>Options</th>
			<th>Status</th>
			<th>Schedule Date</th>
			<th>Service</th>
			<th>Price</th>
		</thead>
		<tbody>
			<% @lendee_checkList.each do |n| %>
				<%= render 'users/checklist/lendee_cl_item', checklist_item: n %>
			<% end %>
		</tbody>
	</table>
</div>