<!-- LENDEE CHECKLIST -->
<% # If tab is true, then that means there's botha lender and lendee checklist, add the class necessary for boostrap tabs %>
<% tabbed_class = tab ? 'tab-pane fade' : '' %>
<div id="lendeePane" class="checkList">
	<!-- <div class="title">Lendee</div> -->
	<!-- LENDEE CHECKLIST -->
	<table class="table table-striped">
		<thead>
			<th class="cell"></th>
			<th class="cell">Status</th>
			<th class="cell">Service</th>
			<th class="cell">Date</th>
			<th class="cell">Place</th>
			<th class="cell">Price</th>
		</thead>
		<tbody>
			<% @lendee_checkList.each do |n| %>
				<%= render 'users/checklist/lendee_cl_item', checklist_item: n %>
			<% end %>
		</tbody>
	</table>
	<%= will_paginate @lendee_checkList, param_name: 'lendee_page' %>
</div>