/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

// Remove  *= require_tree . because we don't want to include all css files

@import "bootstrap";


/********************  VARIABLES ********************/

$brandBlue: gray;
$lightGray: #eaeaea;
$gold: #edb337;
$orange-red: #e28778;
$belt-white: #767676; // for border
$belt-green: #489b4a;
$belt-blue: #4a66b5;
$belt-red: #d14e4e;
$belt-black: #3a3c3a;

/********************  MIXINS ********************/

@mixin border-radius($radius: 1px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

/********************  SITE WIDE ********************/

body, ul{
	margin: 0;
	padding: 0;
	font: 1.4em "Helvetica Neue",Helvetica,Arial,sans-serif;

}

a{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}

li{
	list-style-type: none;
}

textarea{
	resize: vertical;
	min-height: 120px;
}

/******************** HEADER ********************/

header{
	background: none repeat scroll 0 0 #FFFFFF;
    overflow: inherit;
    width: 100%;
    z-index: 100;
}

#be_a_lender{
	color: #FFFFFF;
	background: #f2c846;
	padding: 10px 20px;
	text-transform: uppercase;
	@include border-radius(5px);
	position: absolute;
	top: 20px;
	right: 20px;
}

#logo{
	display: block;
	width: 300px;
	height: 110px;
	margin: 0 auto;
}

.error{
	margin: 20px 0;
	color: #A94442;
	text-align: center;
}

.alert-error{
	text-align: center;
	background-color: #F2DEDE;
    border-color: #EBCCD1;
    color: #A94442;
}

.loginIndicator{
	top: 10px;
	right: 20px;
	position: absolute;
}

.mainNav {
 padding: 12px 0;
	background: #F7F7F7;
	text-transform: uppercase;

	.innerNav {
		height: 28px;
	    margin: 0 auto;
	    text-align: center;
	    width: 890px;
	}

	a {
		color: #808080;
		float: left;
		padding: 5px 20px;
		transition: all 0.25s ease;
		&:hover, &.current {
			background: $brandBlue;
			color: white;
		}
	}
}

/******************* BODY ********************/

// Index
.indexListDashboard{
	width: 200px;
}

.indexList-header{
	text-align: center;
	font-weight: bold;
	text-decoration: uppercase;
	margin-top: 20px 0;
}

.indexList{
	text-align: center;
	border-bottom: 1px solid #E6E6E6;
	&.row:hover{
		background: #f7f7f7;
	}
	.cell{
		padding: 40px 0;
	}
	a{
		color: $orange-red;
	}
	&:nth-child(even){
	//	background: #f7f7f7;
	}
	.belt-icon{
		width: 90px;
		height: 20px;
		margin: 0 auto;
		@include border-radius(5px);
		&.white{
			border: 1px solid $belt-white;
		}
		&.green{
			background: $belt-green;
		}
		&.blue{
			background: $belt-blue;
		}
		&.red{
			background: $belt-red;
		}
		&.black{
			background: $belt-black;
		}
	}
}


// Bootstrap dropdown menu for inputs
.dropdown-menu > li > div{
	clear: both;
	color: #333333;
	display: block;
	font-weight: normal;
	line-height: 1.42857;
	white-space: nowrap;
	font-size: 0.95em;
	padding: 5px 20px;
}

.dropdown-menu > li > input{
	width: 300px;
	margin: 8px 17px;
	clear: both;
    color: #333333;
    display: block;
    font-weight: normal;
    line-height: 1.42857;
    padding: 3px 10px;
    white-space: nowrap;
}

.dropdown-header{
	padding: 3px 20px 5px 20px;
}

.dropdown-menu > li > a{
	font-size: 0.95em;
	padding: 5px 20px;
}


.belt-white{
	color: #ffffff;
	border-color: $belt-black;
	background: #FFFFFF;
	&.large{
		background: #FFFFFF;		
	}
}

.belt-blue{
	color: $belt-blue;
	&.large{
		background: $belt-blue;		
	}
}

.belt-green{
	color: $belt-green;
	&.large{
		background: $belt-green;		
	}
}

.belt-red{
	color: $belt-red;
	&.large{
		background: $belt-red;		
	}
}

.belt-black{
	color: $belt-black;
	border-color: #FFFFFF;
	&.large{
		background: $belt-black;		
	}
}

.belt-large{
	margin: 0 auto;
	color: #FFFFFF;
	width: 90%;
	padding: 10px 0;
}

.icon-flipped {
	transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
}

#error_explanation{
	color: #CE3C3F;
    font-size: 0.7em;
    margin: 20px 45px;
    li{
    	list-style-type: disc;
    }
}

.alert.alert-success{
	text-align: center;
}

.container{
	margin-top: 20px;
	min-height: 400px;
}

.button{
	background: $gold;
	font-size: 18px;
    margin-top: 30px;
    padding: 8px 35px;
    border: none;
    color: #fbfbfb;
    width: 200px;
    display: block;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    &.center{
	    width: 34%;
	    min-height: 10px;
	    margin: 40px auto;
    	display: block;
    }
    &:hover{
    	// background: #dcac2f;
    }
}

.update-button{
	background: #edb337;
}

.button-remove{
	background: #b55454;
}

#snapshot{
	text-align: center;
}

.belt{
	color: #ffffff;
	background: #355488;
	width: 250px;
	padding: 10px 0;
	margin: 10px auto;
	&.level-1{
		background: white;
	}
	&.level-2{
		
	}
	&.level-3{
		
	}
	&.level-4{
		
	}
	&.level-5{
		
	}
}

.options{
    display: table;
    margin: -55px auto 25px;
    form{
    	display: inline;
    }
    & > a:last-child{
		margin: 0;
	}
}

.options a{
	color: #ffffff;
	padding: 15px;
    @include border-radius(30px);
    z-index: 10;
    cursor: pointer;
    opacity: 0.5;
    float: left;
    margin-right: 15px;
    
    &.corner{
    	position: absolute;
		right: 10px;
		top: 10px;
    }
    &.check, &.uncheck{
		background: #ebce59;
    }
    &.pin, &.unpin{
    	background: #5e9abc;
    }
   	&.edit{
   		background: #b7975a;
   	}
    &.flag{
    	background: #c25759;
    }
    &:hover{
	    opacity: 1.0;
    	text-decoration: none;
    	color: #FFFFFF;
    }
}

.userThumb{
	background: #55dfc3;
    @include border-radius(50%);
    margin: 20px auto;
}

.box{
	border: 1px solid #E6E6E6;
    overflow: hidden;
    @include border-radius(5px);
    padding: 15px;
    margin-bottom: 50px;
    min-height: 750px;

    #headline{
    	margin-bottom: 20px;
    }
    .detailTitle{
    	text-transform: uppercase;
    }
  
	.boxTitle{
	    font-weight: 300;
	    font-size: 26px;
	    text-align: left;
    	margin-bottom: 5px;
	}

    .sectionTitle{
    	border-bottom: 1px solid #808080;
    	width: 250px;
    	margin: 15px auto;
    	text-transform: uppercase;
    	text-align: center;
	    font-weight: 300;
	    font-size: 23px;
    }

    > .row{
    	margin-bottom: 20px;
    }
    .row{
	    .group{
	    	border-bottom: 1px solid $lightGray;
	    	padding: 10px 0;
	    }
	}

    .row.group:last-child { 
    	border-bottom: none; 
    }
   
}

.title{
	text-transform: uppercase;
	text-align: center;
    font-weight: 300;
    font-size: 27px;
    margin-bottom: 20px;
}

/* Service */

.serviceListItem{
	margin-bottom: 20px;
	text-align: center;
	a{
		color: #808080;
	}
	.imageContainer{
		color: #ffffff;
		font-size: 0.7em;
		.shadow{
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(3,3,3,0) 4%, rgba(85,85,85,0.65) 99%, rgba(86,86,86,0.65) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(4%,rgba(3,3,3,0)), color-stop(99%,rgba(85,85,85,0.65)), color-stop(100%,rgba(86,86,86,0.65))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(3,3,3,0) 4%,rgba(85,85,85,0.65) 99%,rgba(86,86,86,0.65) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(3,3,3,0) 4%,rgba(85,85,85,0.65) 99%,rgba(86,86,86,0.65) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(3,3,3,0) 4%,rgba(85,85,85,0.65) 99%,rgba(86,86,86,0.65) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(3,3,3,0) 4%,rgba(85,85,85,0.65) 99%,rgba(86,86,86,0.65) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6565656',GradientType=0 ); /* IE6-9 */
			position: absolute;
			height: 70px;
			bottom: 0;
			width: 100%;
		}
	}
	.lender{
		position: absolute;
		left: 10px;
		bottom: 30px;
	}	
	.location{
		position: absolute;
		left: 10px;
		bottom: 10px;
	}
	.price{
		position: absolute;
		right: 10px;
		bottom: 10px;
	}
	.title{
		font-size: 1.1em;
		text-transform: none;
		margin: 5px 0 3px 0;
	}
	.headline{
		margin-bottom: 20px;
		font-size: 0.7em;
	}
}

.imageContainer{
	position: relative;
	width: 95%;
	max-height: 170px;
	margin: 0 auto;
} 
.imageContainer > img, .serviceImage{
	width: 100%;
	max-height: 170px;
}

/* Reviews */
.review-list-item.row{
	border-bottom: 1px solid $lightGray;
	padding: 30px 0;
	&:last-child{
		border-bottom: none;
	}
}
.reviewSection{
	margin: 0px 40px;
	
	.review-details{
		
		.vote-blurb{
			color: #5a5a5a;
			font-size: 1.0em;
		}
		.summary{
			margin: 10px 0;
		}
	}
}

.pagination{
	width: 100%;
	display: block;
	clear: both;
	padding-top: 20px;
	font-size: 0.8em;
	a{
		color: $orange-red;
	}
	ul{
		display: table;
		margin: 0 auto;
	}
	li{
		display: table-cell;
	    float: left;
	    margin: 0 7px;
	    &.active{
	    	font-weight: bold;
	    }
	}
}

.detailTitle{
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid gray;
	text-transform: uppercase;
	font-size: 13px;
}


/******************** FOOTER ********************/
footer{
	background: #F7F7F7;
	padding: 20px 0;
	text-align: center;
	clear: both;
	span{
		display: inline-block;
	}
}