// Place all the styles related to the lender_applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#lenderAppBlurb{
	text-align: center;
	margin: 20px auto 40px auto;
	width: 450px;
}

/************************ EDIT ************************/
#editLenderAppBox{
	padding: 15px 60px;
}

form#editLenderApp{
	label{
		text-align: right
	}
}
