// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/************************** NEW **************************/
#reportBox{
    min-height: 0;
}

.reportBlurb{
	color: #6c6c6c;
    display: block;
    height: 101px;
    margin: 15px auto;
    text-align: center;
    width: 550px;
}

.form-group{
	margin: 15px 0;
}

textarea#report_summary{
	height: 120px;
}

/************************** EDIT **************************/
#reportEditBox{
	padding: 15px 50px;
	.control-label{
		padding-right: 8px;
	}
}

form#editReport{
	.detail{
		padding: 7px 0 25px;
		border-bottom: 1px solid #e6e6e6;
		margin-left: 15px; 
	}
}