// Place all the styles related to the Services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/********************  VARIABLES ********************/
$orange-red: #e28778;

/********************  MIXINS ********************/

@mixin border-radius($radius: 1px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

/* GENERAL */

/* INDEX */


// Filter

.searchIcon{
	margin-right: 15px;
}

#filter-container{
	// border: medium none !important;
    // box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
	// border-color: #EEEEEE #EAEAEA #E5E5E5;
    // border-style: solid;
    // border-width: 1px;
    // background: #F7F7F7;
    margin: 30px auto 55px;
    width: 80%;
    height: 140px;
	
	.filter-state{
		border: 1px solid #dfdfdf;
		min-height: 61px;
		padding: 0;
		transition-duration: 0.1s;
		transition-property: color, background-color;
		box-sizing: border-box;
		clear: both;
		float: left;
		font-size: 14px;
		width: 100%;
		@include border-radius(5px);

	    .filter-box{
	    	box-sizing: border-box;
		    cursor: text;
		    float: left;
		    padding: 16px 16px 10px;
		    width: 85%;
		    
		    .keyword-box{
		    	border-top: 1px dashed #4b4b4b;
			    margin-left: 22px;
			    margin-top: 10px;
			    padding: 12px 0 6px 6px;
			    
			    .keyword-input{
			    	background: #ffffff;
			    	border: 0 none;
				    padding: 0;
				    width: 90%;
			    }
		    }
	    }
	}

	.filter-menus{
	    padding: 0 0 0 16px;
	     box-sizing: border-box;
	    clear: both;
	    float: left;
	    font-size: 14px;
	    width: 100%;

	    .filter-dimensions{
	    	display: inline;

	    	// DIMENSIONS
	    	.dimension{
	    		color: #999999;
			    display: inline-block;
			    padding: 8px 14px;
			    position: relative;
			    vertical-align: middle;

			    .dimension-label{
			    	color: #808080;
			    	font-size: 0.8em;
			    }
	    	}

	    	// MY FILTERS
	    	li.my-filters{
	    		cursor: pointer;
			    float: right;
			    font-size: 0.7em;
			    right: 16px;
			    text-transform: uppercase;
			    top: 15px;
			    a{
		    		color: $orange-red;
			    }

	    		ul.my-filters-dropdown{

		    		li.my-filter-row{
		    			padding: 5px 0;

		    			&.body:hover{
				    		background-color: #F5F5F5;
				    		color: #262626;
				    	}

		    			span.my-filter-name{
		    				width: 200px;
			    			display: inline-block;
			    		}
			    		span.my-filter-alert{
			    			width: 50px;
			    			display: inline-block;
			    		}
			    		span.my-filter-remove{
			    			z-index: 10;
			    			display: inline-block;
			    			cursor: pointer;
			    			opacity: 0.7;
			    			&:hover{
			    				opacity: 1.0f;
			    			}
			    		}
		    		}
	    		}
	    	}
	    }
	}
}

.saveBox{
	box-sizing: border-box;
    float: right;
    padding: 16px 16px 10px 0;
    position: relative;
    width: 12%;
    
    .btn-group{
    	width: 100%;
    	border: none;
    	// Save dropdown toggle
	    .save.dropdown-toggle{
			background-color: #DDE2E7;
		    color: #444444;
		    float: right;
		    font-size: 11px;
		    padding: 8px;
		    text-align: center;
		    text-transform: uppercase;
		    vertical-align: middle;
		    width: 100%;
	        @include border-radius(5px);
		}
		// Save current filters
		.save-current-filters{
    		margin: 10px 5%;
    		width: 90%;
	    }
    }
	
}


/* SHOW */

#userInfo{
}

.row{
	> .col-xs-12{
		padding: 0 4em;
	}
}

/* EDIT */

#service_main_img[type="file"]{
	margin: 15px;
}

form {
	padding-top: 20px;
	#basicInfo{
		padding-right: 5%;
	}
}

.form-group{
	padding-right: 0;
}

textarea#service_summary{
	height: 200px;
	margin-bottom: 30px;
}