<li class="my-filter-row body" data-filter_id="<%= f.id %>" data-tag_data="<%= f.data.to_json %>" >
	<div>
		<span class="my-filter-name" class="saved-filter-row"><%= f.title %></span>
		<span class="my-filter-alert"><input type="checkbox" name="filter-alert" 
			<% if f.alert %>
				checked="checked"
			<% end %>
		></span>
		<span class="my-filter-remove glyphicon glyphicon-remove"></span>
	</div>
</li>