<!-- REVIEW -->
<div id="reviewListSection">
	<div class="reviewList">
		<% reviews.each do |r| %>
			<%=	render 'reviews/review', review: r %>
		<% end %>
	</div>
	<%= will_paginate reviews, param_name: 'review_page' %>
</div>
