<div class="indexList row">
	<%= link_to review do %>
		<div class="col-xs-2 cell"><%= image_tag review.author.main_img(:thumb), class: 'userThumb tooltip_target', title: review.author.name %></div>
		<div class="col-xs-3 cell">
			<div class="text"><%= review.lender.name %></div>
		</div>
		<div class="col-xs-3 cell">
			<div class="text">
			<div class="raty" data-stars="<%= review.stars %>"></div>
			</div>
		</div>
	<% end %>
</div>